.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 800px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%
}

.carousel.carousel-slider {
  top: 0;
  left: 0
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px
}

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px
}

.carousel.carousel-slider .carousel-item p {
  font-size: 15px
}

.carousel .carousel-item {
  visibility: hidden;
  width: 770px;
  max-width: 100%;
  position: absolute;
  top: 50px;
  left: 0
}

.carousel .carousel-item > img {
  width: 100%
}

.carousel.scrolling .carousel-item .materialboxed, .carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none
}

.carousel .indicators {
  counter-reset: item;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  > * {
    flex: none;
    width: 0;
    padding-left: 0;

    > * {
      display: flex;
      align-items: flex-end;
      width: auto;
      height: 40px;
      border-radius: 0;
      text-indent: 0;
      border: none;
      font-weight: 400;
      font-size: 28px;
      color: #bbbab9;
      box-sizing: border-box;
      background: 0 0;
      overflow: hidden;
      white-space: nowrap;

      &::before {
        content: counter(item) '';
        counter-increment: item;
        display: block;
        line-height: 28px;
      }
    }

    &:last-of-type {
      position: relative;
      width: auto;
      padding-left: 12px;

      &::before {
        content: '/';
        position: absolute;
        bottom: 0;
        left: 2px;
        font-weight: 400;
        font-size: 28px;
        color: #bbbab9;
        line-height: 28px;
      }
    }

    > :focus, > :hover {
      color: #bbbab9;
      text-decoration: none;
      background-color: transparent;
    }
  }

  > .active {
    width: auto;

    &::before {
      display: none;
    }

    > * {
      font-weight: 900;
      font-size: 54px;
      color: #00a0ff;
      background-color: transparent;

      &::before {
        line-height: 40px;
      }
    }
  }
}