@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/Proxima-Nova-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Black';
  src: url("../fonts/Proxima-Nova-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

//@font-face {
  //font-family: 'Neris-SemiBold';
  //src: url('../fonts/Neris-SemiBold-webfont.eot');
  //src: url('../fonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
  //url('../fonts/Neris-SemiBold-webfont.woff') format('woff'),
  //url('../fonts/Neris-SemiBold-webfont.ttf') format('truetype'),
  //url('../fonts/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
  //font-weight: normal;
  //font-style: normal;
//}