@import "variables";

.uk-background-primary {
  background-color: $alt-gradient;
}

.uk-background-default {
  background-color: $default-color;
}

.uk-background-muted {
  background-color: $muted-color;
}