$global-font-family: 'Montserrat', sans-serif;

$global-color: #221f1f;

$primary-color: #007dff;

$secondary-color: #054979;

$muted-color: #f1f4f5;

$default-color: #ffffff;

$danger-color: #ec444a;

$primary-gradient: linear-gradient(#00a7ff, #007dff);
$alt-gradient: linear-gradient(30deg, #0d5cae, #038fd9);
$secondary-gradient: linear-gradient(60deg, #0d5cae, #038fd9);

//encountered font sizes on main page: 14,16,17*,18*,21.5,22*,23,24*,25,26*,27,28*,29.5*,30.5,32,39,40.5*(h),41*,42,54*,60.5*(h2?),65,76.5(h1),78.5,92,144.5

$global-font-size: 17px;
$default-font-size: 18px;

