@import "fonts";
@import "variables";
@import "uk-reset";

body {
  font-family: $global-font-family;
  font-size: $global-font-size;
  color: $global-color;
}

h1, h2, h3, .uk-h1 {
  line-height: 1;
  font-family: $black-font-family;
  color: $default-color;
  margin: 0;
}

h2, h3 {
  text-transform: uppercase;
}

h1, .uk-h1 {
  font-size: 76px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 41px;
}

h4,h5 {
  line-height: 1.2;
  font-family: $regular-font-family;
  color: $global-color;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

header {
  font-size: 18px;
}

.tm-h2 {
  font-size: 65px;
}

.tm-h2-small {
  font-size: 54px;
}

.tm-h3 {
  font-size: 39px;
}

.tm-h3-primary {
  padding: 20px 0;
}

.tm-h3-secondary {
  display: inline-block;
  padding: 15px;
  color: #096fbe;
}

.tm-h5 {
  font-size: 32px;
}

.tm-bg-danger {
  background-color: $danger-color;
}

.tm-bg-gradient-alt {
  background: $alt-gradient;
}

.tm-bg-gradient-secondary {
  background: $secondary-gradient;
}

.tm-bg-gradient-guarantee {
  background-image: linear-gradient(to top, #007dff, #00a7ff);
}

.tm-box-shadow {
  box-shadow: 0 0 22px 0 rgba(143, 149, 147, 0.13);
}

.tm-spanize {

  span {
    display: inline-block;
    padding:15px;
    background-color: #9e9e9e;
  }

  &.tm-spanize-bg-secondary {

    span {
      background-color: $secondary-color;
    }

    .tm-bg-danger {
      background-color: $danger-color;
    }

    .uk-background-default {
      background-color: $default-color;
    }

    .tm-text-primary {
      color: #0ba9ff;
    }
  }

  &.tm-spanize-bg-danger {

    span {
      background-color: $danger-color;
    }
  }

  &.tm-spanize-bg-transparent {

    span {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

.tm-font-regular {
  font-family: $regular-font-family;
}

.tm-font-bold {
  font-family: $bold-font-family;
}

.tm-font-extrabold {
  font-family: $extrabold-font-family;
}

.tm-font-black {
  font-family: $black-font-family;
}

.tm-font-color-primary {
  color: $primary-color;
}

.tm-font-color-secondary {
  color: $secondary-color;
}

.tm-font-color-default {
  color: $default-color;
}

.tm-font-color-danger {
  color: $danger-color;
}

.tm-text-muted {
  color:#a8a8a8;
}

.tm-font-size-default {
  font-size: $default-font-size;
}

.tm-text-large {
  font-size: 31px;
}

.tm-variants {
  ol {
    list-style-type: none;
    counter-reset: item;
  }

  ol li {
    margin-bottom: 10px;
    font-size: $default-font-size;
    color: $global-color;
    margin-left: 10px;
    position: relative;
    text-align: left;
    padding-left: 15px;
  }

  ol li:before {
    content: counter(item) '. ';
    counter-increment: item;
    font-family: $black-font-family;
    font-size: 24px;
    color: #00a0ff;
    position: absolute;
    left: -20px;
    line-height: 27px;
  }
}

.tm-faq {
  .uk-accordion-title {
    background-color: $default-color;

    font-family: $bold-font-family;
    font-size: 25px;
    color: $global-color;

    padding: 15px;
    box-shadow: 0 0 22px 0 rgba(143, 149, 147, 0.13);

    &::after {
      background-image: url("../img/faq_down.png");
    }
  }

  .uk-open {
    .uk-accordion-title {
      background-color: #009cff;

      font-size: 24px;
      color: $default-color;

      &::after {
        background-image: url("../img/faq_up.png");
      }
    }
  }
}

.tm-card-shadow {
  box-shadow: 0 7px 23.5px 0.5px rgba(205, 205, 223, 0.28);
}

.tm-padding-small {
  padding: 20px;
}

.tm-scheme {
    list-style-type: none;
    counter-reset: item;

  > div:first-of-type {
    padding-bottom: 72px;
  }

  .tm-item {
    padding-left: 80px;
    font-family: $regular-font-family;
    font-size: 23px;
    color: #454545;
    position: relative;

    &:before {
      content: counter(item) '';
      counter-increment: item;
      font-family: $bold-font-family;
      font-size: 110px;
      color: #d6d8d9;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .tm-item-jump {

    &::after {
      content: "";
      position: absolute;
      left: calc(100% + 3px);
      top: calc(50% - 2px);
      width: 70px;
      height: 193px;
      background: url("../images/dotted-arc.png") no-repeat;
    }
  }
}

.tm-dotted-line {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: calc(100% + 10px);
    top: calc(50% - (4px / 2));
    width: 2000px;
    border-bottom: 4px dotted $primary-color;
  }
}

.tm-overlay-result {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(5, 73, 121, 0.22);
}

.tm-margin-xlarge-top {
  margin-top: 250px;
}

.tm-text-bg {
  position: absolute;
  z-index: -1;
  top: -40px;
  width: 100%;
  line-height: 146px;
  font-size: 146px;
  color: #e2e4e4;
}