@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/Proxima-Nova-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Black';
  src: url("../fonts/Proxima-Nova-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
.uk-background-primary {
  background-color: linear-gradient(30deg, #0d5cae, #038fd9); }

.uk-background-secondary {
  background-color: #054979; }

.uk-background-default {
  background-color: #ffffff; }

.uk-background-muted {
  background-color: #f1f4f5; }

.uk-button {
  border-radius: 500px;
  font-family: "ProximaNova-Bold", sans-serif; }

.uk-button-primary {
  background: linear-gradient(#00a7ff, #007dff);
  border: none;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 3.5px; }
  .uk-button-primary.tm-button-big {
    height: 93px;
    line-height: 93px;
    box-shadow: 0 16px 32.3px 0.7px rgba(0, 142, 255, 0.35); }
  .uk-button-primary.tm-button-small {
    height: 65px;
    line-height: 65px;
    box-shadow: 0 11px 16.7px 0.3px rgba(0, 142, 255, 0.35); }

.uk-navbar-nav > li {
  padding: 0 15px; }
  .uk-navbar-nav > li > a {
    height: 43px;
    line-height: 43px;
    padding: 0 25px;
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 18px;
    color: #5d5d5d;
    border: 1px solid transparent;
    border-radius: 500px;
    transition-property: all; }
  .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open, .uk-navbar-nav > li > a:focus {
    color: #007dff;
    border-color: #007dff; }

.uk-container-large {
  max-width: 1400px; }

.uk-container {
  padding-left: 15px;
  padding-right: 15px; }

.uk-text-large {
  line-height: 1.2;
  font-size: 27px; }

body {
  font-family: "ProximaNova-Light", sans-serif;
  font-size: 17px;
  color: #5d5d5d; }

h1, h2, h3, .uk-h1 {
  line-height: 1;
  font-family: "ProximaNova-Black", sans-serif;
  color: #ffffff;
  margin: 0; }

h2, h3 {
  text-transform: uppercase; }

h1, .uk-h1 {
  font-size: 76px; }

h2 {
  font-size: 60px; }

h3 {
  font-size: 41px; }

h4, h5 {
  line-height: 1.2;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #5d5d5d; }

h4 {
  font-size: 40px; }

h5 {
  font-size: 30px; }

header {
  font-size: 18px; }

.tm-h2 {
  font-size: 65px; }

.tm-h2-small {
  font-size: 54px; }

.tm-h3 {
  font-size: 39px; }

.tm-h5 {
  font-size: 32px; }

.tm-bg-danger {
  background-color: #ec444a; }

.tm-bg-gradient-alt {
  background: linear-gradient(30deg, #0d5cae, #038fd9); }

.tm-bg-gradient-secondary {
  background: linear-gradient(60deg, #0d5cae, #038fd9); }

.tm-spanize span {
  display: inline-block;
  padding: 15px;
  background-color: #9e9e9e; }
.tm-spanize.tm-spanize-bg-secondary span {
  background-color: #054979; }
.tm-spanize.tm-spanize-bg-secondary .tm-bg-danger {
  background-color: #ec444a; }
.tm-spanize.tm-spanize-bg-secondary .uk-background-default {
  background-color: #ffffff; }
.tm-spanize.tm-spanize-bg-secondary .tm-text-primary {
  color: #0ba9ff; }
.tm-spanize.tm-spanize-bg-danger span {
  background-color: #ec444a; }
.tm-spanize.tm-spanize-bg-transparent span {
  background-color: rgba(0, 0, 0, 0.5); }

.tm-font-regular {
  font-family: "ProximaNova-Regular", sans-serif; }

.tm-font-bold {
  font-family: "ProximaNova-Bold", sans-serif; }

.tm-font-extrabold {
  font-family: "ProximaNova-Extrabld", sans-serif; }

.tm-font-black {
  font-family: "ProximaNova-Black", sans-serif; }

.tm-font-color-primary {
  color: #007dff; }

.tm-font-color-secondary {
  color: #054979; }

.tm-font-color-default {
  color: #ffffff; }

.tm-font-color-danger {
  color: #ec444a; }

.tm-font-size-default {
  font-size: 18px; }

.tm-text-large {
  font-size: 31px; }

.tm-variants ol {
  list-style-type: none;
  counter-reset: item; }
.tm-variants ol li {
  font-size: 18px;
  color: #5d5d5d;
  margin-left: 10px;
  position: relative;
  text-align: left;
  padding-left: 15px;
  line-height: 32px; }
.tm-variants ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 24px;
  color: #00a0ff;
  position: absolute;
  left: -20px; }

.tm-faq .uk-accordion-title {
  background-color: #ffffff;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 25px;
  color: #5d5d5d;
  padding: 15px;
  box-shadow: 0 0 22px 0 rgba(143, 149, 147, 0.13); }
  .tm-faq .uk-accordion-title::after {
    background-image: url("../img/faq_down.png"); }
.tm-faq .uk-open .uk-accordion-title {
  background-color: #009cff;
  font-size: 24px;
  color: #ffffff; }
  .tm-faq .uk-open .uk-accordion-title::after {
    background-image: url("../img/faq_up.png"); }

.tm-card-shadow {
  box-shadow: 0 7px 23.5px 0.5px rgba(205, 205, 223, 0.28); }

.tm-padding-small {
  padding: 20px; }

.tm-scheme {
  list-style-type: none;
  counter-reset: item; }
  .tm-scheme .tm-item {
    padding-left: 80px;
    font-family: "ProximaNova-Regular", sans-serif;
    font-size: 23px;
    color: #454545;
    position: relative; }
    .tm-scheme .tm-item:before {
      content: counter(item) "";
      counter-increment: item;
      font-family: "ProximaNova-Bold", sans-serif;
      font-size: 110px;
      color: #d6d8d9;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }

.tm-dotted-line {
  display: inline-block;
  position: relative; }
  .tm-dotted-line::after {
    content: "";
    position: absolute;
    left: calc(100% + 5px);
    top: calc(50% - (4px / 2));
    width: 2000px;
    border-bottom: 4px dotted #007dff; }

/*# sourceMappingURL=custom.css.map */
