@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/Proxima-Nova-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Black';
  src: url("../fonts/Proxima-Nova-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 800px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

.carousel.carousel-slider {
  top: 0;
  left: 0; }

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1; }

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px; }

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0; }

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; }

.carousel.carousel-slider .carousel-item p {
  font-size: 15px; }

.carousel .carousel-item {
  visibility: hidden;
  width: 770px;
  max-width: 100%;
  position: absolute;
  top: 50px;
  left: 0; }

.carousel .carousel-item > img {
  width: 100%; }

.carousel.scrolling .carousel-item .materialboxed, .carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none; }

.carousel .indicators {
  counter-reset: item;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }
  .carousel .indicators > * {
    flex: none;
    width: 0;
    padding-left: 0; }
    .carousel .indicators > * > * {
      display: flex;
      align-items: flex-end;
      width: auto;
      height: 40px;
      border-radius: 0;
      text-indent: 0;
      border: none;
      font-family: "ProximaNova-Regular", sans-serif;
      font-size: 28px;
      color: #bbbab9;
      box-sizing: border-box;
      background: 0 0;
      overflow: hidden;
      white-space: nowrap; }
      .carousel .indicators > * > *::before {
        content: counter(item) "";
        counter-increment: item;
        line-height: 28px; }
    .carousel .indicators > *:last-of-type {
      position: relative;
      width: auto;
      padding-left: 12px; }
      .carousel .indicators > *:last-of-type::before {
        content: '/';
        position: absolute;
        bottom: 0;
        left: 2px;
        font-family: "ProximaNova-Regular", sans-serif;
        font-size: 28px;
        color: #bbbab9;
        line-height: 28px; }
    .carousel .indicators > * > :focus, .carousel .indicators > * > :hover {
      color: #bbbab9;
      text-decoration: none;
      background-color: transparent; }
  .carousel .indicators > .active {
    width: auto; }
    .carousel .indicators > .active::before {
      display: none; }
    .carousel .indicators > .active > * {
      font-family: "ProximaNova-Black", sans-serif;
      font-size: 54px;
      color: #00a0ff;
      background-color: transparent; }
      .carousel .indicators > .active > *::before {
        line-height: 40px; }

.uk-background-primary {
  background: linear-gradient(30deg, #0d5cae, #038fd9); }

.uk-background-secondary {
  background-color: #054979; }

.uk-background-default {
  background-color: #ffffff; }

.uk-background-muted {
  background-color: #f1f4f5; }

.uk-button {
  border-radius: 500px;
  font-family: "ProximaNova-Bold", sans-serif; }

.uk-button-primary {
  background: linear-gradient(#00a7ff, #007dff);
  border: none;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 3.5px; }
  .uk-button-primary.tm-button-big {
    height: 93px;
    line-height: 93px;
    box-shadow: 0 16px 32.3px 0.7px rgba(0, 142, 255, 0.35); }
  .uk-button-primary.tm-button-small {
    height: 65px;
    line-height: 65px;
    box-shadow: 0 11px 16.7px 0.3px rgba(0, 142, 255, 0.35); }

.uk-navbar-nav > li {
  padding: 0 15px; }
  .uk-navbar-nav > li > a {
    height: 43px;
    line-height: 43px;
    padding: 0 25px;
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 18px;
    color: #5d5d5d;
    border: 1px solid transparent;
    border-radius: 500px;
    transition-property: all; }
  .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open, .uk-navbar-nav > li > a:focus {
    color: #007dff;
    border-color: #007dff; }

.uk-container-large {
  max-width: 1400px; }

.uk-container {
  padding-left: 15px;
  padding-right: 15px; }

.uk-text-large {
  line-height: 1.2;
  font-size: 27px; }

.uk-slidenav, .carousel-prev, .carousel-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 82px;
  padding: 0;
  font-size: 24px;
  color: #bbbab9;
  background-color: #f7f9fa;
  font-weight: 900; }

.uk-slidenav-next, .carousel-next {
  color: #fff;
  background: linear-gradient(90deg, #007dff, #00a7ff); }

.uk-dotnav {
  counter-reset: item; }
  .uk-dotnav > * {
    width: 0;
    padding-left: 0; }
    .uk-dotnav > * > * {
      display: flex;
      align-items: flex-end;
      width: auto;
      height: 40px;
      border-radius: 0;
      text-indent: 0;
      border: none;
      font-family: "ProximaNova-Regular", sans-serif;
      font-size: 28px;
      color: #bbbab9; }
      .uk-dotnav > * > *::before {
        content: counter(item) "";
        counter-increment: item;
        line-height: 28px; }
    .uk-dotnav > *:last-of-type {
      position: relative;
      width: auto;
      padding-left: 12px; }
      .uk-dotnav > *:last-of-type::before {
        content: '/';
        position: absolute;
        bottom: 0;
        left: 2px;
        font-family: "ProximaNova-Regular", sans-serif;
        font-size: 28px;
        color: #bbbab9;
        line-height: 28px; }
    .uk-dotnav > * > :focus, .uk-dotnav > * > :hover {
      color: #bbbab9;
      text-decoration: none;
      background-color: transparent; }
  .uk-dotnav > .uk-active {
    width: auto; }
    .uk-dotnav > .uk-active::before {
      display: none; }
    .uk-dotnav > .uk-active > * {
      font-family: "ProximaNova-Black", sans-serif;
      font-size: 54px;
      color: #00a0ff;
      background-color: transparent; }
      .uk-dotnav > .uk-active > *::before {
        line-height: 40px; }

.uk-logo {
  max-width: 260px; }

.uk-iconnav > * {
  padding-left: 20px; }

.uk-section {
  overflow: hidden; }

.uk-offcanvas-bar {
  background-color: #007dff; }

@font-face {
  font-family: 'ProximaNova-Light';
  src: url("../fonts/Proxima-Nova-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Black';
  src: url("../fonts/Proxima-Nova-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url("../fonts/Proxima-Nova-Extrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 800px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

.carousel.carousel-slider {
  top: 0;
  left: 0; }

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1; }

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px; }

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0; }

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px; }

.carousel.carousel-slider .carousel-item p {
  font-size: 15px; }

.carousel .carousel-item {
  visibility: hidden;
  width: 770px;
  max-width: 100%;
  position: absolute;
  top: 50px;
  left: 0; }

.carousel .carousel-item > img {
  width: 100%; }

.carousel.scrolling .carousel-item .materialboxed, .carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none; }

.carousel .indicators {
  counter-reset: item;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }
  .carousel .indicators > * {
    flex: none;
    width: 0;
    padding-left: 0; }
    .carousel .indicators > * > * {
      display: flex;
      align-items: flex-end;
      width: auto;
      height: 40px;
      border-radius: 0;
      text-indent: 0;
      border: none;
      font-family: "ProximaNova-Regular", sans-serif;
      font-size: 28px;
      color: #bbbab9;
      box-sizing: border-box;
      background: 0 0;
      overflow: hidden;
      white-space: nowrap; }
      .carousel .indicators > * > *::before {
        content: counter(item) "";
        counter-increment: item;
        line-height: 28px; }
    .carousel .indicators > *:last-of-type {
      position: relative;
      width: auto;
      padding-left: 12px; }
      .carousel .indicators > *:last-of-type::before {
        content: '/';
        position: absolute;
        bottom: 0;
        left: 2px;
        font-family: "ProximaNova-Regular", sans-serif;
        font-size: 28px;
        color: #bbbab9;
        line-height: 28px; }
    .carousel .indicators > * > :focus, .carousel .indicators > * > :hover {
      color: #bbbab9;
      text-decoration: none;
      background-color: transparent; }
  .carousel .indicators > .active {
    width: auto; }
    .carousel .indicators > .active::before {
      display: none; }
    .carousel .indicators > .active > * {
      font-family: "ProximaNova-Black", sans-serif;
      font-size: 54px;
      color: #00a0ff;
      background-color: transparent; }
      .carousel .indicators > .active > *::before {
        line-height: 40px; }

.uk-background-primary {
  background: linear-gradient(30deg, #0d5cae, #038fd9); }

.uk-background-secondary {
  background-color: #054979; }

.uk-background-default {
  background-color: #ffffff; }

.uk-background-muted {
  background-color: #f1f4f5; }

.uk-button {
  border-radius: 500px;
  font-family: "ProximaNova-Bold", sans-serif; }

.uk-button-primary {
  background: linear-gradient(#00a7ff, #007dff);
  border: none;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 3.5px; }
  .uk-button-primary.tm-button-big {
    height: 93px;
    line-height: 93px;
    box-shadow: 0 16px 32.3px 0.7px rgba(0, 142, 255, 0.35); }
  .uk-button-primary.tm-button-small {
    height: 65px;
    line-height: 65px;
    box-shadow: 0 11px 16.7px 0.3px rgba(0, 142, 255, 0.35); }

.uk-navbar-nav > li {
  padding: 0 15px; }
  .uk-navbar-nav > li > a {
    height: 43px;
    line-height: 43px;
    padding: 0 25px;
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 18px;
    color: #5d5d5d;
    border: 1px solid transparent;
    border-radius: 500px;
    transition-property: all; }
  .uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open, .uk-navbar-nav > li > a:focus {
    color: #007dff;
    border-color: #007dff; }

.uk-container-large {
  max-width: 1400px; }

.uk-container {
  padding-left: 15px;
  padding-right: 15px; }

.uk-text-large {
  line-height: 1.2;
  font-size: 27px; }

.uk-slidenav, .carousel-prev, .carousel-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 82px;
  padding: 0;
  font-size: 24px;
  color: #bbbab9;
  background-color: #f7f9fa;
  font-weight: 900; }

.uk-slidenav-next, .carousel-next {
  color: #fff;
  background: linear-gradient(90deg, #007dff, #00a7ff); }

.uk-dotnav {
  counter-reset: item; }
  .uk-dotnav > * {
    width: 0;
    padding-left: 0; }
    .uk-dotnav > * > * {
      display: flex;
      align-items: flex-end;
      width: auto;
      height: 40px;
      border-radius: 0;
      text-indent: 0;
      border: none;
      font-family: "ProximaNova-Regular", sans-serif;
      font-size: 28px;
      color: #bbbab9; }
      .uk-dotnav > * > *::before {
        content: counter(item) "";
        counter-increment: item;
        line-height: 28px; }
    .uk-dotnav > *:last-of-type {
      position: relative;
      width: auto;
      padding-left: 12px; }
      .uk-dotnav > *:last-of-type::before {
        content: '/';
        position: absolute;
        bottom: 0;
        left: 2px;
        font-family: "ProximaNova-Regular", sans-serif;
        font-size: 28px;
        color: #bbbab9;
        line-height: 28px; }
    .uk-dotnav > * > :focus, .uk-dotnav > * > :hover {
      color: #bbbab9;
      text-decoration: none;
      background-color: transparent; }
  .uk-dotnav > .uk-active {
    width: auto; }
    .uk-dotnav > .uk-active::before {
      display: none; }
    .uk-dotnav > .uk-active > * {
      font-family: "ProximaNova-Black", sans-serif;
      font-size: 54px;
      color: #00a0ff;
      background-color: transparent; }
      .uk-dotnav > .uk-active > *::before {
        line-height: 40px; }

.uk-logo {
  max-width: 260px; }

.uk-iconnav > * {
  padding-left: 20px; }

.uk-section {
  overflow: hidden; }

.uk-offcanvas-bar {
  background-color: #007dff; }

body {
  font-family: "ProximaNova-Light", sans-serif;
  font-size: 17px;
  color: #5d5d5d; }

h1, h2, h3, .uk-h1 {
  line-height: 1;
  font-family: "ProximaNova-Black", sans-serif;
  color: #ffffff;
  margin: 0; }

h2, h3 {
  text-transform: uppercase; }

h1, .uk-h1 {
  font-size: 76px; }

h2 {
  font-size: 60px; }

h3 {
  font-size: 41px; }

h4, h5 {
  line-height: 1.2;
  font-family: "ProximaNova-Regular", sans-serif;
  color: #5d5d5d; }

h4 {
  font-size: 40px; }

h5 {
  font-size: 30px; }

header {
  font-size: 18px; }

.tm-h2 {
  font-size: 65px; }

.tm-h2-small {
  font-size: 54px; }

.tm-h3 {
  font-size: 39px; }

.tm-h3-primary {
  padding: 20px 0; }

.tm-h3-secondary {
  display: inline-block;
  padding: 15px;
  color: #096fbe; }

.tm-h5 {
  font-size: 32px; }

.tm-h5-small {
  font-size: 23px; }

.tm-title {
  font-size: 42px; }

.tm-subtitle {
  font-size: 25px;
  letter-spacing: 8px; }

.tm-font-medium {
  font-size: 24px; }

.tm-bg-danger {
  background-color: #ec444a; }

.tm-bg-gradient-alt {
  background: linear-gradient(30deg, #0d5cae, #038fd9); }

.tm-bg-gradient-secondary {
  background: linear-gradient(60deg, #0d5cae, #038fd9); }

.tm-bg-gradient-guarantee {
  background-image: linear-gradient(to top, #007dff, #00a7ff); }

.tm-box-shadow {
  box-shadow: 0 0 22px 0 rgba(143, 149, 147, 0.13); }

.tm-spanize span {
  display: inline-block;
  padding: 15px;
  background-color: #9e9e9e; }
.tm-spanize.tm-spanize-bg-secondary span {
  background-color: #054979; }
.tm-spanize.tm-spanize-bg-secondary .tm-bg-danger {
  background-color: #ec444a; }
.tm-spanize.tm-spanize-bg-secondary .uk-background-default {
  background-color: #ffffff; }
.tm-spanize.tm-spanize-bg-secondary .tm-text-primary {
  color: #0ba9ff; }
.tm-spanize.tm-spanize-bg-danger span {
  background-color: #ec444a; }
.tm-spanize.tm-spanize-bg-transparent span {
  background-color: rgba(0, 0, 0, 0.5); }

.tm-font-regular {
  font-family: "ProximaNova-Regular", sans-serif; }

.tm-font-bold {
  font-family: "ProximaNova-Bold", sans-serif; }

.tm-font-extrabold {
  font-family: "ProximaNova-Extrabld", sans-serif; }

.tm-font-black {
  font-family: "ProximaNova-Black", sans-serif; }

.tm-font-color-primary {
  color: #007dff; }

.tm-font-color-secondary {
  color: #054979; }

.tm-font-color-default {
  color: #ffffff; }

.tm-font-color-danger {
  color: #ec444a; }

.tm-text-muted {
  color: #a8a8a8; }

.tm-font-size-default {
  font-size: 18px; }

.tm-text-average {
  font-size: 23px; }

.tm-text-big {
  font-size: 27px; }

.tm-text-large {
  font-size: 31px; }

.tm-text-huge {
  font-size: 33px; }

.tm-text-enormous {
  font-size: 38px; }

.tm-variants ol {
  list-style-type: none;
  counter-reset: item; }
.tm-variants ol li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #5d5d5d;
  margin-left: 10px;
  position: relative;
  text-align: left;
  padding-left: 15px; }
.tm-variants ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-family: "ProximaNova-Black", sans-serif;
  font-size: 24px;
  color: #00a0ff;
  position: absolute;
  left: -20px;
  line-height: 27px; }

.tm-faq .uk-accordion-title {
  background-color: #ffffff;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 25px;
  color: #5d5d5d;
  padding: 15px;
  box-shadow: 0 0 22px 0 rgba(143, 149, 147, 0.13); }
  .tm-faq .uk-accordion-title::after {
    background-image: url("../images/faq_down.png"); }
.tm-faq .uk-open .uk-accordion-title {
  background-color: #009cff;
  font-size: 24px;
  color: #ffffff; }
  .tm-faq .uk-open .uk-accordion-title::after {
    background-image: url("../images/faq_up.png"); }

.tm-card-shadow {
  box-shadow: 0 7px 23.5px 0.5px rgba(205, 205, 223, 0.28); }

.tm-img-shadow {
  box-shadow: 0 7px 63.7px 1.3px rgba(224, 228, 231, 0.57); }

.tm-padding-small {
  padding: 20px; }

.tm-scheme {
  list-style-type: none;
  counter-reset: item; }
  .tm-scheme > div:first-of-type {
    padding-bottom: 72px; }
  .tm-scheme .tm-item {
    padding-left: 80px;
    font-family: "ProximaNova-Regular", sans-serif;
    font-size: 23px;
    color: #454545;
    position: relative; }
    .tm-scheme .tm-item:before {
      content: counter(item) "";
      counter-increment: item;
      font-family: "ProximaNova-Bold", sans-serif;
      font-size: 110px;
      color: #d6d8d9;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
  .tm-scheme .tm-item-jump::after {
    content: "";
    position: absolute;
    left: calc(100% + 3px);
    top: calc(50% - 2px);
    width: 70px;
    height: 193px;
    background: url("../images/dotted-arc.png") no-repeat; }

.tm-dotted-line {
  display: inline-block;
  position: relative; }
  .tm-dotted-line::after {
    content: "";
    position: absolute;
    left: calc(100% + 10px);
    top: calc(50% - (4px / 2));
    width: 2000px;
    border-bottom: 4px dotted #007dff; }

.tm-overlay-result {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: rgba(5, 73, 121, 0.22); }

.tm-margin-xlarge-top {
  margin-top: 250px; }

.tm-text-bg {
  position: absolute;
  z-index: -1;
  top: -40px;
  width: 100%;
  line-height: 146px;
  font-size: 146px;
  color: #e2e4e4; }

.tm-dotnav-step-2 {
  counter-reset: step; }
  .tm-dotnav-step-2 > *:nth-last-of-type(2) {
    position: relative;
    width: auto;
    padding-left: 12px; }
    .tm-dotnav-step-2 > *:nth-last-of-type(2)::before {
      content: '/';
      position: absolute;
      bottom: 0;
      left: 2px;
      font-family: "ProximaNova-Regular", sans-serif;
      font-size: 28px;
      color: #bbbab9;
      line-height: 28px; }
  .tm-dotnav-step-2 > * > *::before {
    content: counter(step) "";
    counter-increment: step 2; }

.tm-social {
  font-size: 22px; }
  .tm-social > * > a {
    color: #d2d2d2; }
    .tm-social > * > a:hover, .tm-social > * > a:focus {
      color: #007dff; }

footer {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 18px; }

#btnUpDown {
  height: 9px;
  width: 14px;
  color: green;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer; }

#btnUpDown.upBtn::before {
  content: '+'; }

#btnUpDown.downBtn::before {
  content: '-'; }

@media (max-width: 959px) {
  h1, .uk-h1 {
    font-size: 66px; }

  h2 {
    font-size: 50px; }

  h3 {
    font-size: 31px; }

  .tm-h2 {
    font-size: 55px; }

  .tm-h2-small {
    font-size: 44px; }

  .tm-h3 {
    font-size: 29px; }

  .tm-h5 {
    font-size: 22px; }

  .tm-h5-small {
    font-size: 18px; }

  .tm-title {
    font-size: 32px; }

  .tm-subtitle {
    font-size: 20px; }

  .tm-font-medium {
    font-size: 20px; }

  .tm-scheme > div:first-of-type {
    padding-bottom: 0; }

  .tm-dotnav-step-2 {
    counter-reset: step; }
    .tm-dotnav-step-2 > *:nth-last-of-type(2) {
      width: 0; }
      .tm-dotnav-step-2 > *:nth-last-of-type(2)::before {
        display: none; }
    .tm-dotnav-step-2 > * > *::before {
      content: counter(step) "";
      counter-increment: step; }

  .uk-logo {
    max-width: 200px; }

  .tm-margin-xlarge-top {
    margin-top: 50px; } }
@media (max-width: 639px) {
  h1, .uk-h1 {
    font-size: 40px; }

  h2 {
    font-size: 20px; }

  h3 {
    font-size: 18px; }

  h4 {
    font-size: 30px; }

  h5 {
    font-size: 22px; }

  .tm-h2 {
    font-size: 28px; }

  .tm-h2-small {
    font-size: 24px; }

  .tm-h3 {
    font-size: 20px; }

  .uk-text-large {
    font-size: 18px; }

  .tm-text-average {
    font-size: 13px; }

  .tm-text-big {
    font-size: 17px; }

  .tm-text-huge {
    font-size: 23px; }

  .tm-text-enormous {
    font-size: 28px; }

  .tm-pageheader .uk-button, .tm-order .uk-button {
    padding: 0 20px;
    font-size: 14px; }

  .tm-scheme .tm-item {
    padding-left: 50px; }
    .tm-scheme .tm-item:before {
      font-size: 60px; }

  .tm-text-bg {
    line-height: 126px;
    font-size: 100px; }

  .carousel {
    height: 600px; }

  .tm-title {
    font-size: 26px; }

  .tm-subtitle {
    font-size: 18px; }

  .tm-button {
    font-size: 18px; } }

/*# sourceMappingURL=styles.css.map */
